<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"> <!-- Need to link css from a folder called static ALWAYS! -->
</head>
<body>
    <div class="maincontainer">
        <form action="/create/dojo" method="POST">
            <div class="leftcontainer">
                <h1>New Dojo</h1>
                <label for="name">Name:</label>
                <input type="text" name="name"><br><br>
                <input type="submit" value="Create">
            </div>
            <div class="rightcontainer">
                <h1>All Dojos</h1>
                <table>
                    {% for dojo in dojos %}
                    <tr>
                        <td><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td><a href="/ninjas">Add Ninja</a></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>